<template>
  <div class="column is-two-thirds">
    <div class="columns wrapped" v-if="hasLineup">
      <div v-for="pokemon in lineup" :key="pokemon.id" class="column is-4">
        <Pokemon :pokemon="pokemon"/>
      </div>
    </div>
    <div v-else class="placeholder-text">
      <h1 class="title is-4">Add Pokemon to your lineup via pokedex -> </h1>
    </div>
    <PokemonForm v-if="currentAction === 'edit'"></PokemonForm>
    <PokemonInfo v-if="currentAction === 'view'"></PokemonInfo>
  </div>
</template>

<script>
import bus from '../utils/bus'
import Pokemon from './Pokemon.vue'
import PokemonForm from './PokemonForm.vue'
import PokemonInfo from './PokemonInfo.vue'
import { mapState } from 'vuex'

export default {
  components: {
    Pokemon,
    PokemonForm,
    PokemonInfo
  },

  computed: {
    hasLineup () {
      return this.lineup.length > 0
    },

    ...mapState([
      'lineup',
      'selectedPokemon'
    ]),

    currentAction() {
      return this.$store.state.action
    }
  },

  created () {
    bus.$on('draft', this.draft)
  },

  methods: {
    toggleSelected () {
      this.isSelected = !this.isSelected
    },

    draft (pokemon) {
      const names = this.lineup.map(pokemon => pokemon.name)
      if (names.includes(pokemon.name) || names.length === 6)
        return

      this.lineup.push(pokemon)
      console.log(this.lineup)
    }
  }

}
</script>

<style lang="sass">

.wrapped
  flex-wrap: wrap

.placeholder-text
  text-align: center
  margin-top: 512

</style>

