<template>
  <transition name="fade">
    <div :class="style" v-if="hasMsg">
      <button @click="reset" class="delete"></button>
      {{ msg }}
    </div>
  </transition>
</template>

<script>
import bus from '../utils/bus.js'

export default {
  data () {
    return {
      msg: '',
      style: ''
    }
  },

  methods: {
    reset () {
      this.msg = ''
    }
  },

  computed: {
    hasMsg () {
      console.log('has msg', this.msg)
      return this.msg !== ''
    }
  },

  created() {
    bus.$on('notify', (pokemon, type, msg) => {
      this.msg = msg

      switch (type) {
        case 'success':
          this.style = 'notification is-primary'
          break
        case 'error':
          this.style = 'notification is-danger'
          break
        case 'warning':
          this.style = 'notification is-warning'
          break
      }
      setTimeout(() => this.reset(), 1500)
    })
  },

}
</script>
