<template>
  <div class="column">
    <nav class="panel">
      <p class="panel-heading is-5">
        <strong> ({{ selectedPokemon.name }}) </strong>
        Pokemon Information
      </p>
      <div class="panel-block">
        <form @submit="handleSubmit($event)" class="control">
          <div class="field">
            <label class="label">Nickname</label>
            <div class="control">
              <input v-model="details.nickname" type="text" placeholder="nickname">
            </div>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <textarea v-model="details.description" class="textarea" placeholder="Description"></textarea>
          </div>

          <div class="field">
            <label class="label">Attack</label>
            <div class="control">
              <input v-model="details.attack" type="range" step="1" min="0" max="100 "placeholder="attack">
            </div>
          </div>

          <div class="field">
            <label class="label">Defense</label>
            <div class="control">
              <input v-model="details.defense" type="range" step="1" min="0" max="100" placeholder="defense">
            </div>
          </div>

          <div class="field">
            <label class="label">Special Attack</label>
            <div class="control">
              <input v-model="details.special_attack" type="range" step="1" min="0" max="100" placeholder="special attack">
            </div>
          </div>

          <div class="field">
            <label class="label">Special Defense</label>
            <div class="control">
              <input v-model="details.special_defense" type="range" step="1" min="0" max="100" placeholder="special defense">
            </div>
          </div>

          <div class="field">
            <label class="label">Speed</label>
            <div class="control">
              <input v-model="details.speed" type="range" step="1" min="0" max="100" placeholder="speed">
            </div>
          </div>

          <div class="field">
            <label class="label">Soccer Position</label>
            <div class="select">
              <select v-model="details.position">
                <option v-for="(position, index) in positions" :key="index">
                  {{ position }}
                </option>
              </select>
            </div>
          </div>

          <div class="field">
            <label class="label">Salary</label>
            <div class="control">
              <input v-model="details.salary" type="text" placeholder="salary">
            </div>
          </div>

          <div class="field">
            <label class="label">Gender</label>
            <div class="control">
              <div class="control">
                <label class="radio">
                  <input type="radio" id="m" value="m" v-model="details.gender">
                  Male
                </label>
                <label class="radio">
                  <input type="radio" id="f" value="f" v-model="details.gender">
                  Female
                </label>
              </div>
            </div>
          </div>

          <div class="control">
            <label class="label">Move set (pick 4)</label>
              <div v-for="move in selectedPokemon.moves" :key="move" class="field">
                <label class="checkbox">
                  <input type="checkbox" :id="move" :value="move" v-model="details.moves" @change="updateSkillset(move, $event)">
                    {{ move }}
                </label>
              </div>
          </div>
          <div class="control">
            <button type="submit" class="button is-fullwidth is-primary">
              Submit
            </button>
          </div>
        </form>
      </div>

    </nav>
    </transition>
  </div>
</template>

<script>
import bus from '../utils/bus'
export default {
  //props: ['pokemon'],
  computed:{
    hasPokemon() {
      return Object.keys(this.pokemon).length > 0
    },

    selectedPokemon () {
      return this.$store.state.selectedPokemon
    },

    dynamicDetails () {
      if (this.selectedPokemon.details) {
        return this.seletecdPokemon.details
      } else {
        return this.details
      }
    }
  },

  data () {
    const currPokemon = this.$store.state.selectedPokemon
    currPokemon.details = currPokemon.details || {}
    console.log(JSON.stringify(currPokemon))

    return {
      details: {
        description: currPokemon.details.description || '',
        nickname: currPokemon.details.nickname || '',
        gender: currPokemon.details.gender || '',
        description: currPokemon.details.description || '',
        position: currPokemon.details.position || '',
        salary: currPokemon.details.salary || '',
        moves: currPokemon.details.moves || [],
        attack: currPokemon.details.attack || 0,
        defense: currPokemon.details.defense || 0,
        special_attack: currPokemon.details.special_attack || 0,
        special_defense: currPokemon.details.special_defense || 0,
        speed: currPokemon.details.speed || 0,
      },

      positions: [
        'left winger',
        'right winger',
        'striker',
        'goal keeper',
        'left back',
        'right back',
        'center back'
      ]
    }
  },

  methods: {
    handleSubmit (e) {
      e.preventDefault()
      const currentPokemon = this.$store.state.selectedPokemon

      console.log(currentPokemon.name)

      const pokemons = this.$store.state.lineup.filter(pokemon => pokemon.id !== currentPokemon.id)
      const pokemon = Object.assign(currentPokemon, this.details)

      this.$store.commit('UPDATE_LINEUP', pokemons.concat(pokemon))
      this.$store.commit('SET_CURRENT_POKEMON', pokemon)
      this.$store.commit('SET_ACTION', 'view')
      bus.$emit('notify', pokemon, 'success', `${pokemon.name} updated`)
    },

    updateSkillset (skill, $event) {
      const checked = $event.target.checked

      if (this.details.moves.length > 4) {
        const idx = this.details.moves.indexOf(skill)

        if (idx > -1 || this.details.moves.length >= 4) {
          this.details.moves.splice(idx, 1)
          $event.target.checked = false
        }
        $event.target.checked = false
        return
      }
    }
  }
}
</script>
