<template>
  <div class="column notification is-info">
    <p class="title">{{ selectedPokemon.name }}</p>
    <ul>
      <li v-for="(value, key) in selectedPokemon">
        <strong>{{ key }}: </strong> {{ value}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    selectedPokemon () {
      return this.$store.state.selectedPokemon
    },
  },

  methods: {
    getDetails () {
      console.log(JSON.stringify(this.selectedPokemon))
      return this.selectedPokemon || {}
    }
  }
}
</script>
