<template>
  <transition name="fade">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{ pokemon.name }} </p>
    </header>
    <div class="card-image">
      <figure class="image is-128x128" :alt="pokemon.name">
        <img :src="pokemon.sprites">
      </figure>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item" @click="viewPokemon(pokemon)">View</a>
      <a href="#" class="card-footer-item" @click="editPokemon(pokemon)">Edit</a>
      <a href="#" class="card-footer-item" @click="removeFromLineup(pokemon)">Remove</a>
    </footer>
  </div>
  </transition>
</template>

<script>
import bus from '../utils/bus.js'

export default {
  props: ['pokemon'],
  methods: {
    removeFromLineup (pokemon) {
      const pokemons = this.$store.state.lineup.filter(pokemon => {
        return pokemon.id !== pokemon.id
      })

      this.$store.commit('UPDATE_LINEUP', pokemons)
      this.$store.commit('REMOVE_CURRENT_POKEMON')
      this.$store.commit('SET_ACTION', 'default')

      bus.$emit('notify', pokemon, 'warning', `${pokemon.name} removed from lineup`)
    },

    editPokemon (pokemon) {
      this.$store.commit('SET_CURRENT_POKEMON', pokemon)
      this.$store.commit('SET_ACTION', 'edit')
    },

    viewPokemon (pokemon) {
      this.$store.commit('SET_CURRENT_POKEMON', pokemon)
      this.$store.commit('SET_ACTION', 'view')
    }



  }
}
</script>

<style lang="sass">
.card-image
  figure
    margin-left: 96px

p.card-header-title
    text-align: center

</style>

