<template>
  <div>
    <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img :src="pokemon.sprites" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-3">{{ pokemon.name }} (#{{ pokemon.id }}) </p>
            </div>
          </div>
          <div class="content">
            <p>
              <strong>Height: </strong> {{ pokemon.height }} (m)
            </p>
            <p>
              <strong>Weight: </strong> {{ pokemon.weight }} (kg)
            </p>
            <p>
              <strong>Type: </strong> {{ pokemon.types.join(", ") }}
            </p>
          </div>
        </div>
      </div>
  </div>

</template>

<script>
import Notification from './Notification.vue'
export default {
  props: ['pokemon'],
}
</script>

<style lang="sass">

.card
  margin-top: 10px

</style>
