<template>
  <div class="column is-one-third">
    <input :value="q" class="input is-rounded" type="text" placeholder="Search Pokemon" @keyup="searchPokemon">

    <transition name="fade">
      <div v-if="hasPokemon">
        <SearchResult :pokemon="pokemon" />

        <div class="controls">
          <a class="button is-link is-rounded is-fullwidth" @click.prevent="draft">Add</a>
          <!--<a class="button is-rounded is-fullwidth" @click.prevent="clearSearch">Clear</a>-->
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from 'axios'
import SearchResult from './SearchResult.vue'
import bus from '../utils/bus.js'
import { shuffle } from 'lodash'

export default {
  components: {
    SearchResult
  },

  data () {
    return {
      pokemon: {},
      q: '',
    }
  },

  computed: {
    hasPokemon () {
      return Object.keys(this.pokemon).length
    },
  },

  methods: {
    clearSearch () {
      this.pokemon = {}
      this.q = ''
    },

    draft () {
      const names = this.$store.state.lineup.map(pokemon => pokemon.name)
      if (names.includes(this.pokemon.name) || names.length === 6) return
      bus.$emit('notify', this.pokemon, 'success', `${this.pokemon.name} added to your lineup`)
      this.$store.commit('ADD_TO_LINEUP', this.pokemon)
      this.$store.commit('REMOVE_CURRENT_POKEMON')
      this.clearSearch()
    },

    searchPokemon (e) {
      if (e.keyCode !== 13) return
      const pokemon = e.target.value

      axios.get(`http://localhost:8000/api/v2/pokemon/${pokemon}`)
        .then(response => {
          this.pokemon = this.getAttributes(response.data)
          console.log(this.pokemon.moves)
        })
        .catch(err => {
          bus.$emit('notify', null, 'error', 'Pokemon does not exist')
          this.clearSearch()
        })

    },

    getAttributes (data) {
      let { id, name, weight, height, types, sprites, moves } = data

      types = types.map(t => t.type.name)
      height = height / 10.0
      weight = weight / 10.0
      sprites = sprites.front_default
      // random 10 moves
      moves = moves.map(move => move.move.name)
      let threshold = moves.length > 10 ? 10 : moves.length
      moves = shuffle(moves).slice(0, threshold)

      return { id, name, weight, height, types, sprites, moves }
    }
  }
}
</script>

<style lang="sass">

.controls
  margin-top: 10px

.fade-enter-active, .fade-leave-active
  transition: opacity .5s;

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0;

</style>
