<template>
  <div id="app">
    <nav class="navbar is-warning">
      <div class="navbar-brand">
        <a href="#" class="title is-4 navbar-item">Pokemon Manager</a>
      </div>
    </nav>
    <div class="container is-fluid">
      <Notification></Notification>
      <div class="columns">
        <Lineup />
        <Search />
      </div>
    </div>
  </div>
</template>

<script>
import Lineup from './components/Lineup.vue'
import Search from './components/Search.vue'
import Notification from './components/Notification.vue'

export default {
  name: 'app',
  components: {
    Lineup,
    Search,
    Notification,
  }
}
</script>

<style lang="sass">
@import 'bulma'

@font-face
  font-family: pokemon
  src: url('./assets/fonts/Pokemon\ Solid.ttf')

nav
  margin-bottom: 20px

.navbar-brand
  a
    font-family: pokemon

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0
</style>

